<h1><%= @place.name %></h1>


<ul>
  <% @place.entries.each do |entry| %>
    <li>
      <b><%= entry.title %></b><br>
      <%= entry.description %><br>
      Posted on: <%= entry.occurred_on %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a New Post", new_place_entry_path(@place) %>
<p>
<%= link_to "Back to All Places", places_path %>
</p>